@{
    ViewData["Title"] = "Registration";
    var listMuseums = ViewData["listMuseums"] as IEnumerable<Museum>;
    @model HappeningHandler
}
<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="error-text"></div>

<form action="/Auth/Registration" method="post">
    <div class="form-group mb-3">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" value="@Model.Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" value="@Model.Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="MuseumID">Museum ID</label>
        <select asp-for="MuseumID"
                asp-items="@(new SelectList(listMuseums,"ID", "ID"));"
                class="form-control"></select>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" value="@Model.Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>    
    <div class="form-group mb-3">
        <label asp-for="ConfermaPassword">Conferma Password</label>
        <input type="password" asp-for="ConfermaPassword" value="@Model.ConfermaPassword" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Inserisci</button>
    </div>
</form>